<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700,400i%7CMontserrat:700" rel="stylesheet">
    <title>Northern_applyChallenge</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
    
</head>

<body>
    <main id="app">



        <div id="formArea">
            <h2>INTERNSHIP SIGNUP FORM</h2>
            <div>
                <hr>
            </div>

            <div v-if="formSection">


                <p>Prepare for your career with a Project Management, Web-Development, Graphic design, or Digital
                    Marketing
                    Internship at Northern.</p>

                <form action="" method="post" @submit="checkForm">

                    <div id="err">
                        <span>{{errors}}</span>
                    </div>
                    <input name="email" id="email" v-model="email" placeholder="Your Email Address*" class="errFocus"
                        v-bind:class="{active: isActive}">


                    
                    <select name="choose" id="" required v-model="choose">
                        <option value="" disabled selected hidden>Your Interests</option>
                        <option value="0">Development</option>
                        <option value="1">Graphic design</option>
                        <option value="2">Project Management</option>
                    </select>


                    <!--  @click.prevent="ajaxFun()" -->
                    <button type="submit" id="submit">
                        <div v-if="SignUp">
                            Sign Up Now &nbsp; <div class="arrow-right"></div>
                        </div>

                        <div v-if="loading">
                            Submitting...
                        </div>


                    </button>


                </form>
            </div>

            <div v-if="ThanksSection">
                <h3>Thanks for your interest!</h3>
                <p>We will review your application and contact you for additional information should your background and
                    experience meet the requirements of our openings.</p>

            </div>



        </div>

    </main>

    <script src="js/main.js"></script>
</body>

</html>